version: '3.8'

services:

  backend:
    build:
      context: ./backend
    container_name: pdf-backend
    restart: always
    expose:
      - "5000"
    networks:
      - app-net

  frontend:
    build:
      context: ./frontend
    container_name: pdf-frontend
    restart: always
    networks:
      - app-net

  nginx:
    image: nginx:stable
    container_name: pdf-nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./frontend/out:/usr/share/nginx/html
    depends_on:
      - backend
      - frontend
    networks:
      - app-net

networks:
  app-net:
    driver: bridge
